<footer class="foot mt-auto" style="position: relative; bottom:0; width:100vw;">
    <div class="info">
        <div class="info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
        <div class="info-brand">&copy; Travelling Private Limited</div>
        <div class="info-socialHandles">
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </div>
    </div>
</footer>